# Variable Management for Harness Projects

# [Required] (String) Name of the resource.
name = # Required

# [Required] (String) Full name of the Organization
organization_id = # Required

# [Optional] (String) Color of the project.
color = null

# [Optional] (String) Description of the resource.
description = null

# [Optional] (Set of String) Tags to associate with the resource. Format key:value
tags = {}

# [Optional] Provide a list of Tags to associate with all projects. Format key:value
global_tags = {}
